.image {
    height: 200px;
}

.imgCon {
    background-color: white;
    border-radius: 20px;
    /* align-items: center; */
    text-align: center;
}


.para1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(49, 49, 49);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;

}

.paraCon,
.priCon {
    /* border: 1px solid red; */
    padding: 0px 18px 18px 5px;
    /* width: max-content; */
    margin: 0% 0% 0% 4%;
    text-align: center;
}

.priCon {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    /* padding-right:8px ; */
    /* text-overflow: ellipsis; */
}

.tag {
    margin-top: 6px;
    font-weight: 600;
    font-size: 13px;
}

.tag1 {
    text-decoration: line-through;
    color: gray;
    /* font-size: 13px; */
}

.tag2 {
    color: rgb(7, 155, 7);
    /* font-size: 13px; */
}

.container {
    background-color: white;
    border-radius: 8px;
    transition: transform 0.3s ease;
    border: 2px solid rgb(226, 225, 225);
    box-shadow: 0px 0px 5px 0px rgb(245, 245, 245);
    margin-top: 20px;
}

.container:hover {
    transform: scale(1.02);
    z-index: 10;

}

.price {
    font-size: 22px;
    text-align: left;
    font-weight: 600;
    line-height: 32px;
    /* font-style:normal ; */
    /* margin: 0px 0px 0px 8px; */
}


.cardCon {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.RevRat {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 10px;
    /* border: 1px solid red; */
    /* padding: 0px 5px; */
    /* text-overflow: ellipsis; */
}

.rating {
    padding: 6px 8px;
    border-radius: 100px;
    text-align: center;
}

.rating p {
    color: white;
    background-color: rgba(47, 3, 178, 0.832);
    font-size: 12px;
}

.review {
    font-size: 12px;

}

@media screen and (max-width:500px) {
    .cardCon {
        display: flex;
        gap: 10px;  
        flex-wrap: wrap;
        justify-content: space-evenly;
        float: left;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
          }

  .container{
    width: 200px;
  }
  .image{
   height: 150px;
  }
}

@media screen and (max-width:450px) {
    .cardCon{
        padding-left: 5px;
        padding-right: 5px;
    }
    .container{
       max-width: 180px;
        /* overflow: hidden; */
    }
}
@media screen and (max-width:380px) {
    .container{
        max-width: 150px;
    }
    
}